<html>
<body>
    <form>
        <br>
        <br>
        <h1>FEEDBACK FORM </h1>
       
    Name:<input type="textbox"name=""value=""style="width:40% ">
    &nbsp;
    <br>
    <p>Indicate your general level of satisfaction with the following items,
            <br>
             by writing an appropriate number in each box.</p>
  HIGHLY SATISFIED :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox">
  
    <br>
   REASONABLY SATISFIED :   &nbsp;<input type="checkbox">
   &nbsp;
   <br>
  NOT REALLY SATISFIED : &nbsp;&nbsp;<input type="checkbox">
   <br>
  VERY UNSATISFIED:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox">
   <p> COURSE ORGANISATION
       <br>
        (Is this course well run, given the size and nature of the class?) </p>
        <input type="checkbox">
        <p>ACCOMODATION OF STUDENT EXPECTATIONS
            <br>
                (Has the course accommodated your specific needs, expectations
                <br>
                and reasons for doing the course?)</p>
                <input type="checkbox">
                <p>ACCOMODATION OF STUDENT CAPABILITIES
                    <br>
                        (Did you feel adequately prepared for doing the course?) </p>
                        <input type="checkbox">
                        <BR>
                                
                                        Comment :
                                        <br>
                                        <textarea placeholder="leave your comment here "style="width: 30%; height: 100px" ></textarea>
   
    </form>
</body>
</html>
<router-outlet></router-outlet>

