
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

    <h1>ABOUT CODE  SA</h1>
    
    <div class="row">
       <div class="column">
        
        <br>
        <h1>CODE SA Enterprise</h1>
        <h2>
            <i>CODE SA Enterprise PTY LTD is a company built on over 10 years of experience
               in IT services and over 4 years in Business Process Management. 
               We strive to wow the client with every iteration of our work.
                Therefore a client’s satisfaction is our priority.
                 Our priority is customer satisfaction and therefore we strive for professionalism.</i>
            </h2>
      </div>
  <div class="column">
    <h2>Column 2</h2>

    <h1><i>With our long experience, we can guarantee the best service at reasonable prices. 
      We make sure that our fully trained staff is always available to you. We prefer an individual approach, 
      and therefore fully focused on the needs and requirements of each customer.
      In pursuing your ideas we are quite rigorous and professional.</i></h1>
  </div>
</div>

</body>
</html>