body{
    background-image: url(my.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}
p{
    margin-left: 20%;
    color: whitesmoke;
}
h1, h2 {
    margin-left: 30%;
    color: whitesmoke;
}
.column{
    float: right;
    padding: 10px;
    height: 300px;
}