
<html>
  <body align="center">
    <div class="top"></div>
    <div class="form">
<form>
  <h1>Contact Form</h1>
  <h3><i>Shape your future web project with sharp design and refine coded functions.</i></h3>
  <br>
Name:<br>
<input type="text"placeholder="enter name" style="width: 90%; height: 5%"[(ngModel)]="name">
<br>
<br>
phone number:
<input type="text"placeholder="enter number"style="width: 90%; height: 5%"[(ngModel)]="phone">
<br>
<br>
Email address:<input type="text"placeholder="enter email"style="width: 90%; height: 5%"[(ngModel)]="email">
<br>
<br>
<label>Subject</label>
<br>

<select style="width: 90%; height: 5%">
    <option value=""> -select subject-</option>
  <option value="enquiry">ENQUIRY</option>
  <option value="order">ORDER</option>
  <option value="other">OTHER</option>
</select>
<br>
Message:
<br>
<textarea style="width: 90%; height: 15%"[(ngModel)]="message"></textarea>


&nbsp;
<br>
<br>
<button (click)="send()"><b>SEND</b></button>
</form>
</div>
</body>
</html>


