form{
  
    margin-left: 30%;
//padding-left: 10%;
    color: white;
    border: 2px solid white;
    border-radius: 70px 70px;
    width: 50%;
    height: 700px;
  
}
body{
    color: white;
background-image: url(contact.jpg);
background-repeat: no-repeat;
background-size: cover;

    height: 1000px;
      }
      button{
        background-color: blue;
        color: white;
        border-radius: 70px 70px;
        width: 30%;
        height: 5%;
      }
      .top{
          height: 100px;
      }
