<html>
  <head>
    <!-- <style>
      a:hover{
        color:blueviolet

      }
  a{
    color: brown;
  text-decoration: none;
  }
  .vertical-menu a {
  background-color: #eee;
  color: black; 
  display: block; 
  /* padding: 12px;  */
  /* position: fixed; */
  height: ;
  }
  </style> -->
  </head>
    <body align="left">
        <div class="sidenav">
         
            <a routerLink="/">HOME</a>
            <a routerLink="/about">ABOUT</a>
            <a routerLink="/contact">CONTACT</a>
            <a routerLink="/feedback">FEEBACK</a>
          </div>

</body>
</html>
<router-outlet></router-outlet>


