body{
  background-image: url(mee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    height: 1000px;
      }
      h1{
          margin-left: 30%;
          color: white;
      }
      h2, p{
          color: white;
          margin-left: 30%;
      }
      .column{
          float: left;
          padding: 10px;
          height: 300px;
      }