
    <html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
    &nbsp;
    &nbsp;
<H1>THE INFORMATION THAT YOU NEED IS BELOW</H1>
<div class="row">
  <div class="column">
      <h1>     WEB DESIGNS</h1>
    <h2>
            <b>
                <i>   Choose from the large selection of latest blocks -<br>
             jumbotrons, hero images, parallax scrolling, video backgrounds,
             <br>
              hamburger menu, sticky header and more.</i>
            </b>

            </h2>
            <h1> CODE RESEARCH</h1>

           <h2>
        <b>
           <i>
         you know you will get the best because we do our research.<br> 
               We make sure that you don't get the same as our last client. 
               Whatever we do for you, we do our best and more.</i>
            </b>
        </h2>
  </div>
  <div class="column">
    
            
                    <h1> CLEAN CODING</h1>
                    <h2><b><i>We code from scratch. Our developers are well skilled and adhere to the latest coding standards.<br>
                     We know code. We do clean coding</i></b></h2>
                     &nbsp;
              
                        
             
                     
                     <h1>INTEGRATION</h1>
        <h2><i><b>Social Media is our friend, if we integrate it correctly.<br> 
        We can integrate your social media accounts on your website <br>to deliver the ultimate results and more.</b></i></h2>
     
  </div>
</div>

</body>
</html>